.sectionMacro {
    margin-top: 10px;
    display: table;
    width: 100%;
}

.sectionMacroRow {
    display: table-row;
}

.columnMacro {
    display: table-cell;
    vertical-align: top;
}

.sectionMacro > :not(.sectionMacroRow),
.sectionMacroWithBorder > :not(.sectionMacroRow) {
    display: table-caption;
}

.sectionMacro .columnMacro {
    border: none;
    padding: 0;
}

.sectionMacro .columnMacro + .columnMacro {
    padding-left: 20px;
}

.sectionMacroWithBorder {
    margin-top: 10px;
    display: table;
    width: 100%;
}

.sectionMacroWithBorder .columnMacro {
    border-style: dashed;
    border-width: 1px;
    border-color: #ccc;
    padding: 10px;
}

.sectionColumnWrapper {
    display: block;
    overflow-x: auto;
}
